.row {
  display: flex;
}
.cell {
  width: 16px;
  height: 16px;
  border: 0.009px solid rgba(0, 0, 0, 0.05);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
